<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IIntegration">
                    <security mode="TransportWithMessageCredential" />
                </binding>
                <binding name="BasicHttpBinding_IBasicIntegration" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://efatura-test.uyumsoft.com.tr/Services/Integration"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIntegration"
                contract="Uyumsoft1.IIntegration" name="BasicHttpBinding_IIntegration" />
            <endpoint address="http://efatura.uyumsoft.com.tr/Services/BasicIntegration"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBasicIntegration"
                contract="Uyumsoft.IBasicIntegration" name="BasicHttpBinding_IBasicIntegration" />
        </client>
    </system.serviceModel>
</configuration>